.resposta {
  display: flex;
  min-width: 31.25rem;
  width: 80%;
  height: 6.25rem;
  margin: 0.62rem;
  perspective: 62.5rem;
}

.conteudoResposta {
  position: relative;
  display: flex;
  flex: 1;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.respostaRevelada.conteudoResposta  {
  transform: rotateY(180deg);
}
.frente,
.verso {
  position: absolute;
  display: flex;
  height: 100%;
  width: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.frente {
  align-items: center;
  border-radius: 0.75rem;
  padding: 0.93rem;
  color: #000;
  background-color: #fff;
}

.verso {
  transform: rotateY(180deg);
}

.verso > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  border-radius: 0.75rem;
}

.certa {
  background-color: #2baa6d;
}

.errada {
  background-color: #e44a4c;
}

.certa .valor,
.errada .valor {
  font-size: 1.5rem;
}

.letra {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 1.25rem;
  font-size: 1.3rem;
  font-weight: 700;
  margin-right: 1.25rem;
  color: #fff;
}

.valor {
  font-size: 1.3rem;
  font-weight: 700;
}


@media (max-width: 768px){
  .resposta {
   min-width: 20rem;
   height: 4rem;
  }
  .valor {
    font-size: 1rem;
  }
}